.container {
  max-width: 600px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-main {
  background: #0E0B47;
  color: #fff;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: red;
}

.bg-medium {
  background: #ccc;
  color: red;
}

.btn {
  background-color: #E3B118;
  padding: 0.75rem 2rem;
  margin-top: 2rem;
  color: #333;
  display: inline-block;
  font-weight: bold;
  border: 2px solid #E3B118;
}

.btn:hover {
  background-color: #BB8F00;
  border: 2px solid #BB8F00;
}

.btn-secondary {
  background-color: #0E0B47;
  padding: 0.75rem 2rem;
  margin-top: 2rem;
  color: #f4f4f4;
  display: inline-block;
  font-weight: normal;
  border: solid 2px #7AB4C1;
}

.btn-secondary:hover {
  background-color: #7AB4C1;
  color: #333;
}

.header-secondary-cta {
  margin-left: 0;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0E0B47;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  z-index: 1;
}

.menu li {
  padding: 1.5rem 0;
  text-align: center;
}

.menu a {
  color: #f4f4f4;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

.menu a:hover {
  border-color: #E3B118;
}

.menu a.current {
  border-color: #7AB4C1;
}

.menu .nav-logo-link {
  border-bottom: none;
  padding-bottom: 0;
}

/* bottom Nav */
#bottom-nav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  background: #0E0B47;
  /* height: 3rem; */
}

#bottom-nav .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bottom-nav .bottom-nav-btn {
  margin: .15rem 0;
}

.hamburger {
  position: fixed;
  top: 0.25rem;
  right: 0.25rem;
  width: 40px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  z-index: 2;
  border-radius: 5px;
}

.hamburger .fa-bars {
  z-index: 3;
  color: #0E0B47;
}

.hamburger .fa-times {
  z-index: 3;
  color: #0E0B47;
  display: none;
}

.toggler {
  position: fixed;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 10;
  cursor: pointer;
  width: 40px;
  height: 45px;
  opacity: 0;
  /* Show Menu */
}

.toggler:checked ~ .menu {
  visibility: visible;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.toggler:checked ~ .hamburger > .fa-bars {
  display: none;
}

.toggler:checked ~ .hamburger > .fa-times {
  display: block;
}

.nav-socials {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-socials i {
  padding: 0 1rem;
}

.nav-socials i:hover {
  color: #E3B118;
}

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #f4f4f4;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

#header-home {
  background-image: url("../img/mobile-header-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  color: #f4f4f4;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-content-a {
  margin-top: 3rem;
  padding-bottom: 4rem;
}

.header-content-b {
  max-width: 75vw;
}

.hours-table {
  width: 100%;
}

/* Contact */
.contact-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  background: #f4f4f4;
  left: 2rem;
  top: 0.25rem;
}

.text-input {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  background: #f4f4f4;
  border: 1px #333 solid;
  font-size: large;
}

.contact-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 1rem;
}

/* Footer */
footer {
  height: 3rem;
  background: #333;
  color: #f4f4f4;
  text-align: center;
}

.footer-content {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.footer-text {
  font-size: small;
  padding-top: 1rem;
}

.footer-icon {
  padding-top: 1rem;
  color: #f4f4f4;
}

.footer-icon:hover {
  color: #E3B118;
}

@media (min-width: 700px) {
  .container {
    max-width: 1280px;
  }
  .hamburger {
    display: none;
  }
  .menu {
    visibility: visible;
    height: auto;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .nav-logo-link {
    width: 100%;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  .nav-socials {
    display: none;
  }
  #bottom-nav {
    display: none;
  }
  #header-home {
    background-image: url("../img/header-background.svg");
    background-size: cover;
  }
  .header-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 80vh;
  }
  .header-secondary-cta {
    margin-left: 1rem;
  }
  .about {
    padding-right: 2rem;
  }
  .about-hours-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hours-loc {
    padding-top: .25rem;
  }
  .contact-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form {
    width: 100%;
    padding-right: 2rem;
  }
  .socials {
    width: 48%;
  }
  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: .75rem;
  }
}
