// widescreen
@media (min-width: 700px) {
  .container {
    max-width: $widescreen-width;
  }

  // Nav
  .hamburger {
    display: none;
  }

  .nav {
    background-color: $main-color;
  }

  .nav-home {
    background-color: inherit;
  }

  .menu {
    visibility: visible;
    height: auto;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-image: unset;
  }

  .nav-logo-link {
    width: 100%;
  }

  .svg-logo {
    height: inherit;
  }

  // .svg-hidden {
  //   height: 0vh;
  //   width: 0vw;
  // }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .nav-socials {
    display: none;
  }

  #bottom-nav {
    display: none;
  }

  #header-home {
    background-image: linear-gradient(to right bottom,
        #03020f,
        #0a051e,
        #0d082c,
        #0c0b39,
        #0d0b47);
    background-size: cover;
  }

  .header-content {
    flex-direction: row;
    min-height: 50vh;
  }

  .header-secondary-cta {
    margin-left: 1rem;
  }

  // Services
  .list-1 {
    grid-area: list-1;
  }

  .list-2 {
    grid-area: list-2;
    margin-top: inherit;
  }

  .list-3 {
    grid-area: list-3;
    margin-top: inherit;
  }

  .service-list-download {
    grid-area: footer;
    margin-top: inherit;
  }

  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'list-1 list-2 list-3'
      'footer footer footer';
    gap: 1.5rem;
  }

  // About
  .about {
    padding-right: 2rem;
  }

  .about-hours-location {
    display: flex;
    justify-content: space-around;
  }

  .hours-loc {
    padding-top: 0.25rem;
  }

  .contact-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .form {
    width: 100%;
    padding-right: 2rem;
  }

  .socials {
    width: 48%;
  }

  .contact-info {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0.75rem;
  }

  // Reviews
  .review-body {
    min-height: 100vh;
    height: 100%;
  }

  .submit-reviews-btns {
    flex-direction: row;
  }

  .review {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .review-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
  }
}