// Main nav menu
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #03020f, #0a051e, #0d082c, #0c0b39, #0d0b47);
  transition: opacity 0.4s ease;
  z-index: 1;

  li {
    padding: 1.5rem 0;
    text-align: center;
  }

  a {
    color: $light-color;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $highlight-color;
    }

    &.current {
      border-color: $secondary-color;
    }
  }

  .nav-logo-link {
    border-bottom: none;
    padding-bottom: 0;
  }
}

#nav-logo {
  width: 95vw;
}

.svg-logo {
  height: 30vh;
}

/* bottom Nav */
#bottom-nav {
  position: sticky;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right top, #03020f, #0a051e, #0d082c, #0c0b39, #0d0b47);
  /* height: 3rem; */

  .container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .bottom-nav-btn {
    margin: .15rem 0;
    padding: .75rem 1.5rem;

    @media (max-width: 360px) {
      padding: .75rem 1rem;
    }
  }
}

.hamburger {
  position: fixed;
  top: 0.25rem;
  right: 0.25rem;
  width: 40px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-color;
  z-index: 2;
  border-radius: $radius;

  .fa-bars {
    z-index: 3;
    color: $main-color;
    // display: none;
  }

  .fa-times {
    z-index: 3;
    color: $main-color;
    display: none;
  }
}

.toggler {
  position: fixed;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 10;
  cursor: pointer;
  width: 40px;
  height: 45px;
  opacity: 0;

  /* Show Menu */
  &:checked {
    ~.menu {
      visibility: visible;
      transition: all 0.4s ease;
    }

    ~.hamburger>.fa-bars {
      display: none;
    }

    ~.hamburger>.fa-times {
      display: block;
    }
  }
}

.nav-socials {
  flex-direction: row;
}

.nav-socials i {
  padding: 0 1rem;
}

.nav-socials i:hover {
  color: $highlight-color;
}

// transform: translatex(500px);

// .menu-wrap {
//   position: fixed;
//   top: 0;
//   right: 0;
//   z-index: 1;

// .toggler {
//   position: absolute;
//   top: 0.25rem;
//   right: 0.25rem;
//   z-index: 2;
//   cursor: pointer;
//   width: 3rem;
//   height: 3rem;
//   opacity: 0;
// }

//   .hamburger {
//     position: absolute;
//     top: 0.25rem;
//     right: 0.25rem;
//     z-index: 1;
//     width: 3rem;
//     height: 3rem;
//     background: $dark-color;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 5px;
//   }

//   /* Hamburger Line */
//   .hamburger>div {
//     position: relative;
//     flex: none;
//     width: 70%;
//     height: 2px;
//     background: $light-color;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: all 0.4s;
//   }

//   /* Hamburger Lines - top & bottom */
//   .hamburger>div::before,
//   .hamburger>div::after {
//     content: "";
//     position: absolute;
//     z-index: 1;
//     top: -10px;
//     width: 100%;
//     height: 2px;
//     background: inherit;
//   }

//   /* Moves Line Down */
//   .hamburger>div::after {
//     top: 10px;
//   }

//   /* Toggler Animation */
//   .toggler:checked+.hamburger>div {
//     transform: rotate(135deg);
//   }

//   /* Turns Lines Into X */
//   .toggler:checked+.hamburger>div:before,
//   .toggler:checked+.hamburger>div:after {
//     top: 0;
//     transform: rotate(90deg);
//   }

//   /* Rotate On Hover When Checked */
//   .toggler:checked:hover+.hamburger>div {
//     transform: rotate(225deg);
//   }

// .menu {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   visibility: hidden;
//   overflow: hidden;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   background-color: $main-color;
//   transition: opacity 0.4s ease;
//   // transform: translatex(500px);

// li {
//   padding: 1.5rem 0;
//   text-align: center;
// }

// a {
//   color: $light-color;
//   border-bottom: 3px transparent solid;
//   padding-bottom: 0.5rem;
//   transition: border-color 0.5s;

//   &:hover {
//     border-color: $highlight-color;
//   }
// }

// .nav-logo-link {
//   border-bottom: none;
//   padding-bottom: 0;
//   // margin: auto;
// }
//   }

// /* Show Menu */
// .toggler:checked~.menu {
//   visibility: visible;
//   opacity: 1;
//   transition: all 0.4s ease;
// }

// .toggler:not(:checked)~.menu {
//   opacity: 0;
//   transition: all 0.4s ease;
// }
// }