.container {
  max-width: $mobile-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

// Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }

  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }

  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }

  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

// Buttons
.btn {
  background-color: $highlight-color;
  padding: 0.75rem 2rem;
  margin-top: 2rem;
  color: $dark-color;
  display: inline-block;
  font-weight: bold;

  &:hover {
    background-color: $highlight-color-hover;
  }
}