.container {
  max-width: $mobile-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.hidden {
  display: none;
}

// padding
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.pt-1 {
  padding-top: 1rem;
}

.flex {
  display: flex;
}

// Backgrounds
.bg {
  &-main {
    background: $main-color;
    color: set-text-color($main-color);
  }

  &-dark {
    background: $dark-color;
    color: set-text-color($dark-color);
  }

  &-light {
    background: $light-color;
    color: set-text-color($light-color);
  }

  &-medium {
    background: $medium-color;
    color: set-text-color($medium-color);
  }
}

// Buttons
.btn {
  background-color: $highlight-color;
  padding: 0.75rem 2rem;
  margin-top: 2rem;
  color: $dark-color;
  display: inline-block;
  font-weight: bold;
  border: 2px solid $highlight-color;

  &:hover {
    background-color: $highlight-color-hover;
    border: 2px solid $highlight-color-hover;
  }
}

.header-secondary-cta {
  margin-left: 0;
}