@import "config";
@import "utilities";
@import "menu";

// Reset
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  margin: 0;
  padding: 0;
}

// General styles
body {
  font-family: 'Montserrat', sans-serif;
  background: $light-color;
}

// p {
//   // font-size: 1.25rem;
// }

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: $dark-color;
  // font-size: 1.25rem;
}

ul {
  list-style: none;
}

#header-home {
  // background-image: url('../img/mobile-header-background.svg');
  background-image: linear-gradient(to right bottom, #03020f, #0a051e, #0d082c, #0c0b39, #0d0b47);
  background-repeat: no-repeat;
  background-size: cover;
  color: $light-color;
}

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
  flex-direction: column;
  padding-bottom: 5rem;
}

.header-content-a {
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.header-content-b {
  max-width: 75vw;
}

.quote-btn {
  text-align: center;
}

.btn-secondary {
  padding: 0.75rem 2rem;
  margin-top: 2rem;
  color: $light-color;
  display: inline-block;
  font-weight: normal;
  border: solid 2px $secondary-color;

  &:hover {
    background-color: $secondary-color;
    color: $dark-color;
  }
}

// Services
#services {
  padding: 4rem 0;
}

.services-list {
  display: flex;
  flex-direction: column;
}

.service-title {
  font-size: 1.25rem;
  padding-top: 1.5rem;
}

.sub-text {
  font-size: .9rem;
}

.list-2,
.list-3,
.service-list-download {
  margin-top: 2rem;
}

// About
.about-img {
  position: relative;
  width: 100%;
  max-width: 830px;
  margin-top: 2rem;
}

// hours (about page)
.hours-table {
  max-width: 90%;
  height: auto;
  overflow: hidden;

  td {
    padding-bottom: .25rem;
  }
}

.hours-day {
  padding-right: 1rem;
}

// map

.location-map {
  max-width: 85vw;
}

/* Contact */
.contact-wrapper {
  flex-direction: column;
}

form {
  flex-basis: 60%;
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  background: $light-color;
  left: 2rem;
  top: 0.25rem;
}

.text-input {
  width: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.5rem;
  background: $light-color;
  border: 1px $dark-color solid;
  font-size: large;
}

.contact-info {
  flex-direction: column;
  justify-content: space-between;
}

.socials ul {
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 1rem;
}

/* Footer */
footer {
  height: 3rem;
  background: $dark-color;
  color: $light-color;
  text-align: center;
}

.footer-content {
  justify-content: space-evenly;
  text-align: center;
}

.footer-text {
  font-size: small;
  padding-top: 1rem;
}

.footer-icon {
  padding-top: 1rem;
  color: $light-color;
}

.footer-icon:hover {
  color: $highlight-color;
}


// Import media queries
@import "media";